{% extends 'accounts/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock %}
{% block content %}
{% for message in messages %}
  <div class="container row" style="margin-left: 81px;">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="alert alert-{{message.tags}}" role="alert" style="text-align: center;">
        {{message}}
      </div>
    </div>
  </div>
    
{% endfor %}
<div class="testbox">
    
    <h1>Registration</h1>
  
    <form action="register" method="POST">
      {% csrf_token %}
        <hr>
      <div class="accounttype">
        <input type="radio" value="None" id="radioOne" name="account" checked/>
        <label for="radioOne" class="radio" chec>Patient</label>
        <input type="radio" value="None" id="radioTwo" name="account" />
        <label for="radioTwo" class="radio">Doctor</label>
        <input type="radio" value="None" id="radioThree" name="account" />
        <label for="radioThree" class="radio">Paramedic</label>
        <input type="radio" value="None" id="radioFour" name="account" />
        <label for="radioFour" class="radio">Phycist</label>
      </div>
    <hr>
    <label id="icon" for="name"><i class="icon-envelope "></i></label>
    <input type="text" name="email" id="name" placeholder="Email" required/>
    <label id="icon" for="name"><i class="icon-user"></i></label>
    <input type="text" name="first_name" id="name" placeholder="First-Name" required/>
    <label id="icon" for="name"><i class="icon-user"></i></label>
    <input type="text" name="last_name" id="name" placeholder="Last-Name" required/>
    <label id="icon" for="name"><i class="icon-user"></i></label>
    <input type="text" name="username" id="name" placeholder="User-Name" required/>
    <label id="icon" for="name"><i class="icon-shield"></i></label>
    <input type="password" name="password1" id="name" placeholder="Password" required/>
    <div style="margin-top: -20px;">
      <label id="icon" for="name"><i class="icon-shield"></i></label>
      <input type="password" name="password2" id="name"   placeholder="Re-Password" required/>
    </div>
    <div class="gender">
      <input type="radio" value="None" id="male" name="gender" checked/>
      <label for="male" class="radio" chec>Male</label>
      <input type="radio" value="None" id="female" name="gender" />
      <label for="female" class="radio">Female</label>
     </div> 
     <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
     <input class="button" value="submit" type="submit" />
    </form>
  </div>
{% endblock %}